# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Spring Boot
# =========================
logs/
*.log

# =========================
# Environment / Secrets
# =========================
.env
application-local.yml
application-dev.yml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Volume
# =========================
mysql-data/
